<tr id="employee_<%= employee.id %>">
	<td><%= employee.name %>(<%= employee.englishname %>)</td>
	<td><%= employee.englishname %></td>
	<td><%= employee.sex ? '男' : '女' %></td>
	<td><%= employee.department.name %></td>
	<td><%= employee.position.name %></td>
	<td><%= employee.telephone %></td>
	<td><%= employee.phone %></td>
	<td><%= employee.qq %></td>
	<td><%= employee.email %></td>
	<td><%= employee.birthday %></td>
	<td><%= link_to edit_employee_path(employee),remote: true,class: 'ui button basic icon small green' do %>
		<i class="edit icon"></i>修改
		<% end %>
	</td>
	<td><%= link_to employee_path(employee), method: :delete,
	data:{confirm: 'Are you Sure?'}, class: 'ui button basic icon small red' do %>
		<i class="trash icon"></i>删除
		<% end %>
	</td>
</tr>