<%= form_for @position,remote: true, html:{class: 'ui form'}  do |p| %>
<div class="fields">
	<div class="field">
  		<%= p.label :name %>
  		<%= p.text_field :name %>
  	</div>
  	<div class="field">
		<%=p.label  :department_id %>
		<%=p.select :department_id, 
					Department.all.collect{ |p| [p.name, p.id] },
					{include_blank: false},{class: 'ui dropdown'} %>
	</div>
</div>
    <%= p.submit class: 'ui button positive' %>
<% end %>