<%= link_to '新增部门', new_department_path,remote: true, class: 'ui button green'%>
<table class="ui celled table">
	<thead>
		<tr>
			<th>部门名称</th>
			<th colspan="2">操作</th>
		</tr>
	</thead>
	<tbody>
		<%= render partial: "department", collection: @departments %>
	</tbody>
</table>
<%= link_to '新增部门员工', new_employee_path,remote: true, class: 'ui button green'%>
<%= link_to '员工管理',employees_path, class: 'ui button green'%>
<%= link_to '职位管理',positions_path, class: 'ui button green'%>
<!-- 新增弹出框 -->
<div class="ui modal" id="newDepartment">
	<i class="close icon"></i>
	<div class="header">新增部门</div>
	<div class="content"></div>
</div>

<div class="ui modal" id="editDepartment">
	<i class="close icon"></i>
	<div class="header">修改部门</div>
	<div class="content"></div>
</div>

<div class="ui modal" id="newEmployee">
	<i class="close icon"></i>
	<div class="header">新增部门员工</div>
	<div class="content"></div>
</div>

<div class="ui modal" id="editEmployee">
	<i class="close icon"></i>
	<div class="header">修改部门员工</div>
	<div class="content"></div>
</div>